<% state = read_state(tool, current_user) %>
<span id="<%= dom_id(tool, 'read_state') %>"
      class="<%= state[:icon_class] %>"
      title="<%= state[:read_at].present? ? l(state[:read_at], format: :long) : state[:title] %>"
      aria-label="<%= state[:read_at].present? ? l(state[:read_at], format: :long) : state[:title] %>"></span>

