<div class="p-2">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 m-0"><%= t("tools.index.title") %></h1>
  </div>
  <% if @tools.any? %>
    <div class="row row-cols-1 row-cols-md-2 g-3">
      <% @tools.each_with_index do |tool, index| %>
        <div class="col">
          <%= render "pages/tool_card", tool: tool, index: index %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-info"><%= t("tools.index.empty_state") %></div>
  <% end %>
</div>
